label, legend{
  color:$FontColor;
}

[data-tbutton]{
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 1rem;
  background-color: #3a3a3a;
  color: #ffffff;
  transition: border 0.2s;
  border: solid 2px #ffffff;
  grid-area: featureBtn;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: fit-content;
  display: flex;
  text-align: center;
  align-items: center;
}

[data-tselect]{
  width: 100%;
  display: block;
  max-width: 100%;
  flex-grow: 1;
  background-color: #3a3a3a;
  padding: 0.25rem;
  color: #ffffff;
  border-radius: 0.2rem;
  border: solid #2c2c2c 2px;
}

button.icon-btn{
  border: none;
  background-color: transparent;
  margin: auto;
  color: $FontColor;
}

.icon-btn:active{
  background-color: transparent;
  outline: none;
}

.error{
  color:red;
}

.roundedBtn{
  border: transparent;
  border-radius: 2rem;
  background-color: transparent;
  color: $FontColor;
  transition: border-radius,background-color 0.25s;
  &:hover, &:focus{
    background-color: $PanelHover;
    border-radius: 2rem;
    color: $AccentColor;
    fill: $AccentColor;
    outline: none;
    &.dark{
      background-color: $PanelDarkHover;
    }
  }
}

::selection {
  color: $FontColor;
  background: $AccentColor;
}
  /* width */
  :global(::-webkit-scrollbar) {
    width: 12px;
  }
  /* Track */
  :global(::-webkit-scrollbar-track) {
    box-shadow: inset 0 0 5px black;
    border-radius: 100px;
    background-color: $PanelHover;
  }

  /* Handle */
  :global(::-webkit-scrollbar-thumb) {
    background: $AccentColor;
    border-radius: 100px;
  }

  :global(::-webkit-scrollbar-thumb:window-inactive){
    background-color: $SelectedColor;
  }

  /* Handle on hover */
  :global(::-webkit-scrollbar-thumb:hover) {
    background: $SelectedColor; 
  }

@media only screen and (min-width: $MobileWidth){
  /* width */
  :global(::-webkit-scrollbar) {
    width: 15px;
  }

  /* Handle */
  :global(::-webkit-scrollbar-thumb) {
    background-clip: content-box;
    border: 3px solid transparent;
  }

  /* Handle on hover */
  :global(::-webkit-scrollbar-thumb:hover) {
    background-clip: content-box;
    border: 3px solid transparent;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select[multiple]:focus option:checked {
  color: $FontColor;
  background-image: linear-gradient(0deg, $AccentColor 0%, $AccentColor 100%);;
}

option:hover {
  box-shadow: 0 0 10px 100px $AccentColor inset;
  background-color: $AccentColor;
}


@mixin darkBtnOutline {
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: $BodyFontSize;
  background-color: $PanelColor;
  color: $FontColor;
  transition: border 0.2s;
  border: $ButtonBorder;
  &:hover:not(:disabled){
    border: $ButtonBorderHover;
    cursor: pointer;
  }
  &:disabled{
    cursor: not-allowed;
    background-color: grey;
  }
}

@mixin placeholder {
  background-color: #80808094;
  filter: blur(1px);
  border-radius: 0.5rem;
}

@mixin link{
  color:$AccentColor;
  &:hover{
    color:$SelectedColor;
  }
}

@mixin resetbutton{
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin warning{
  color:orange;
}

h2 ,.h2{
  font-size: $HeaderFontSize;
  font-weight: 600;
}

.fit-content{
  width: fit-content;
}

input[type="radio"], input[type="checkbox"]{
  cursor: pointer;
}

details[open] > summary::after{
  content: " -";
}

summary{
  list-style-type:none;
  list-style-image: none;
  transition: color 0.5s;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  white-space: nowrap;
}

summary::before{
  content: "";
  background: $AccentColor;
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 5px;
  transition: width 1s;
  border-radius: 10px;
  width: 0%;
}

details[data-mobile="true"]{
    &[open]>summary{
      &::before{
        width: 100%;
      }
      color:$AccentColor;
  }
  color:$FontColor;
  &::before{
    width: 0;
  }
}

summary::after{
  position: relative;
  font-weight: 700;
  content: "+";
  left: 1ch;
  font-size: 1.6rem;
}

details:not([data-mobile="true"])>summary:hover{
  cursor: pointer;
  user-select: none;
  color:$AccentColor;
  &::before{
    width: 100%;
  }
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: $BodyFontSize;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

