@import  "variables";

:export{
  BackgroundColor: $BackgroundColor;
  SecondBackgroundColor: $SecondBackgroundColor;
  FontColor: $FontColor;
  FieldColor: $FieldColor;
  FieldFontColor: $FieldFontColor;
  AccentColor: $AccentColor;
  AccentColor2: $AccentColor2;
  SelectedColor: $SelectedColor;
  PanelColor: $PanelColor;
  PanelHover: $PanelHover;
  PanelDarkHover: $PanelDarkHover;
  VideoBackground: $VideoBackground;
  ImgColor: $ImgColor;
  ImgClickColor: $ImgClickColor;
  BodyFontSize: $BodyFontSize;
  HeaderFontSize: $HeaderFontSize;
  BaseFontSize: $BaseFontSize;
  StarWidth: $StarWidth;
  MobileWidth: $MobileWidth;
}