button.icon-btn{
  border: none;
  background-color: transparent;
  margin: auto;
  color: $FontColor;
}

.icon-btn:active{
  background-color: transparent;
  outline: none;
}

.error{
  color:red;
}

.roundedBtn{
  border: transparent;
  border-radius: 2rem;
  background-color: transparent;
  color: $FontColor;
  transition: border-radius,background-color 0.25s;
  &:hover, &:focus{
    background-color: $PanelHover;
    border-radius: 2rem;
    color: $AccentColor;
    fill: $AccentColor;
    outline: none;
    &.dark{
      background-color: $PanelDarkHover;
    }
  }
}

::selection {
  color: $FontColor;
  background: $AccentColor;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $AccentColor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $SelectedColor; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select[multiple]:focus option:checked {
  color: $FontColor;
  background-image: linear-gradient(0deg, $AccentColor 0%, $AccentColor 100%);;
}

option:hover {
  box-shadow: 0 0 10px 100px $AccentColor inset;
  background-color: $AccentColor;
}


@mixin darkBtnOutline {
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: $BodyFontSize;
  background-color: $PanelColor;
  color: $FontColor;
  transition: border 0.2s;
  border: $ButtonBorder;
  &:hover:not(:disabled){
    border: $ButtonBorderHover;
    cursor: pointer;
  }
  &:disabled{
    background-color: grey;
  }
}

@mixin placeholder {
  background-color: #80808094;
  filter: blur(1px);
  border-radius: 0.5rem;
}

@mixin link{
  color:$AccentColor;
  &:hover{
    color:$SelectedColor;
  }
}

@mixin resetbutton{
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2{
  font-size: $HeaderFontSize;
}

label{
  width: fit-content;
}

input[type="radio"], input[type="checkbox"]{
  cursor: pointer;
}