
button.icon-btn{
border: none;
background-color: transparent;
margin: auto;
color: $FontColor;
}

.icon-btn:active{
background-color: transparent;
outline: none;
}

.error{
  color:red;
}

.roundedBtn{
  border: transparent;
  border-radius: 2rem;
  background-color: transparent;
  color: $FontColor;
  transition: border-radius,background-color 0.25s;
  &:hover, &:focus{
    background-color: $PanelHover;
    border-radius: 2rem;
    color: $AccentColor;
    fill: $AccentColor;
    outline: none;
    &.dark{
      background-color: $PanelDarkHover;
    }
  }
}
