$BackgroundColor: #0e1015;
$SecondBackgroundColor: #2f2f2fe6;
$FontColor: #ffffff;
$FieldColor: white;
$FieldFontColor: #111111f0;
$AccentColor: hsl(153, 100%, 42%);
$AccentColor2: hsl(177, 100%, 42%);
$SelectedColor: hsl(153, 100%, 22%);
$PanelColor:rgb(58, 58, 58);
$PanelHover:rgb(44, 44, 44);
$TransparentPanel:rgba(0, 0, 0, 0.705);
$PanelDarkHover:rgb(19, 19, 19);
$VideoBackground: #000000f0;
$ImgColor: invert(20%) sepia(0%) saturate(1891%) hue-rotate(174deg) brightness(110%) contrast(107%);
$ImgClickColor: invert(82%) sepia(42%) saturate(6841%) hue-rotate(106deg) brightness(94%) contrast(101%);
$AppBackground: #194119;


$BodyFontSize: 1rem;
$HeaderFontSize: 1.2rem;
$TitleFontSize: 1.6rem;
$BaseFontSize: 0.8rem;

$StarWidth: 5vmin;
$BodyFontSize-Mobile: 0.8rem;
$HeaderFontSize-Mobile: 1rem;
$TitleFontSize: 1.4rem;
$BaseFontSize-Mobile: 0.6rem;

$CardWidth: 21rem;
$CardWidthMobile: 6rem;

$MobileWidth: 750px;

$ButtonBorder: solid 2px $FontColor;
$ButtonBorderHover: solid 2px $AccentColor;

@mixin darkBtnOutline {
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: $BodyFontSize;
  background-color: $PanelColor;
  color: $FontColor;
  transition: border 0.2s;
  border: $ButtonBorder;
  &:hover{
    border: $ButtonBorderHover;
  }
}