:root{
    --BackgroundColor: #f7f7f7;
    --SecondBackgroundColor: #eaeaeae6;
    --FontColor: #333333;
    --AccentColor: hsl(153, 100%, 42%);
		--SelectedColor: hsl(153, 100%, 22%);
    --VideoBackground: #000000f0;
    --ImgColor: invert(20%) sepia(0%) saturate(1891%) hue-rotate(174deg) brightness(110%) contrast(107%);
    --ImgClickColor: invert(82%) sepia(42%) saturate(6841%) hue-rotate(106deg) brightness(94%) contrast(101%);
    --BodyFontSize: 1rem;
    --HeaderFontSize: 1.2rem;
    --BaseFontSize: 0.8rem;
    --StarWidth: 5vmin;
}

@media (prefers-color-scheme: dark) {
  :root{
    --BackgroundColor: #0e1015;
    --SecondBackgroundColor:#2f2f2fe6;
    --FontColor: #e2e2e2;
    --AccentColor: #00d474;
    --ImgColor: invert(100%) sepia(10%) saturate(861%) hue-rotate(41deg) brightness(115%) contrast(77%);
  }
}

:focus {
    outline: var(--AccentColor) auto 1px;
}

p{
  font-size: var(--BodyFontSize, 2vmin);
}

input, select, button:not(.nonStandard) {
	background-color: var(--SecondBackgroundColor, white);
	color: var(--FontColor, black);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--BackgroundColor, white);
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover, button:hover{
	color: var(--AccentColor, green);
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button:not(.nonStandard), select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button:not(.nonStandard) {
	color: var(--FontColor, white);
	background-color: var(--BackgroundColor, black);
	outline: none;
}

button:not(.nonStandard):disabled {
	color: grey;
}

button:not(:disabled):not(.nonStandard):active {
	background-color: #ddd;
}

button:not(.nonStandard):focus, button:not(.nonStandard):active, button:not(.nonStandard):hover{
	border-color: var(--AccentColor, green);
}

.inline{
  display: inline-block;
}

.link{
  cursor: pointer;
  font-weight: bold;
}

.link:hover{
  color: var(--AccentColor, green);
}

p.selected>.searchReccomendation{
  color:var(--AccentColor, green) !important;
  font-weight: normal;
}

button.icon-btn{
	border: none;
	background-color: transparent;
	height: 100%;
}

button.icon-btn:not(:disabled):active{
	background-color: transparent;
}

.error{
	color:red;
}