*{
  padding: 0;
  margin: 0;
}

body{
  padding-bottom: 5vmin;
}

h1{
  font-size: 5vmin;
}

h2{
  font-size: 3vmin;
}

p{
  margin: 2vmin 3vmin;
}

p, input, button, select{
  font-size: 2vmin;
}

button {
  font-size: 2vw;
  border-bottom: solid black 1px;
}

button:hover{
  border-bottom: solid green 1px;
}
.detailsBackDrop{
  width: 100%;
}

.hidden{
  display:none;
}

.shown{
  display: block;
}

:not(.hidden).inline{
  display: inline;
}

.showBtn {
  padding-left: 5px;
}

.disabled{
  background-color: grey;
}

.noBoarder{
  border: none !important;
}

.detailSection {
  padding: 2vmin 0;
}

.detailSection > summary{
  font-size: 3vmin;
  font-weight: double;
}


:not(.hidden).#linkSelect{
  display: block;
}

#search, #logo{
  margin: 0 auto;
}

#searchBar{
  display: flex;
  justify-content: center;
  margin: 0 2vw;
  text-align: center;
}

#searchButton{
  width: 10vw;
  height: auto;
}

#searchButton:active{
  filter: invert(100%);
  background-color: white;
}

#logo{
  max-width: 50vw;
  max-height: 20vh;
  display: block;
}

#detailsBackDrop{
  width:100%;
  height: auto;
}

#search{
  width: 80vw;
  height: 10vh;
  display: block;
  font-size: 10vh;
  border: none;
  border-bottom: solid black;
}

#quickBar{
  width: 90vw;
  margin: 1vmin auto;
  display: flex;
  justify-content: space-around;
  
}

#quickBar>button, .dropbtn, button{
  background-color: white;
  border: none;
}



#quickBar>button:hover, .dropbtn:hover{
  font-weight: bold;  
}

#quickBar>*, #genreSelect, .dropbtn, #navBar>button, button{
  font-size: 3vmin;
}

#preferencesMenu>div{
  display: flex;
  justify-content: space-around;
}

#preferencesMenu *{
  display: block;
}

.formSection>*{
  width:20vw;
  font-size: 2vmin;
}
.poster{
  margin: 5vh auto;
  height: 65vh ;
  width: auto;
  display: block;
}
.card{
  width:100vw;
}

#navBar{
  display: flex;
  justify-content: space-between;
}

#navBar>button{
  width:40vw;
  height:auto;
}

#pageNumber{
  font-size: 5vw;
}


#shortAbout{
  display: flex;
  flex-wrap: wrap;
  background-color: #DBDBDB;
  width: 100%;
}

#shortAbout > p{
  padding: 0 3vw;
  font-weight: 150%;
  font-size: 3vmin;
  border-left: solid black 3px;
}





/* Dropdown Button */
.dropbtn {
  background-color: green
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-weight: bold;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
